@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Poppins", sans-serif;
}

.App-body {
  background-color:#dadbdd;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  margin: 0 auto;
}

#contBan {
  margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
} 

#subTitle {
  padding-bottom: 50px;
  color: #374048;
  letter-spacing: -3px;
  padding-top: 80px;
  font: 600 49px/1px "Poppins", sans-serif;
  margin: 0 0 25px;
  font-style: normal;
}

#sh2{
  font-size: 48px;
  font-weight: 0;
  font-style: normal;
  font: 600 56px/1 "Poppins", sans-serif;
  padding-bottom: 70px;
}

@media (max-width: 767px){
#sh2, #subTitle {
    margin: 0;
    font: 600 36px/1 "Poppins", sans-serif;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
}

@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 1097px;
}
}
.navbar-brand {
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#navbar {
  min-height: 55px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  font: 400 16px/40px "Poppins", sans-serif;
  background-color: #fff;
}

#btnONW {
    text-transform: uppercase;
    font: 600 16px/40px "Poppins", sans-serif;
    padding: 0 35px;
    border-radius: 30px;
    color: #fff;
    border: none;
}

#btnONW2 {
   text-transform: uppercase;
   padding: 0 85px;
   margin-top: 40px;
   border-radius: 60px;
   font: 500 27px/72px "Poppins", sans-serif;
    color: #fff;
    border: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#brand {
  padding-top: 0;
  padding-bottom: 0;

}

#btn1, #btn2, #btn3 {
  /*color: #91989f;*/
  padding: 0 17px;
  text-transform: uppercase;
  font: 500 16px/40px "Poppins", sans-serif;
  
}

.logo {
  max-width: 70%;
}

#toggle {
line-height: 0;
border: 0;
}

#timerContainer{
  background-color:#dadbdd;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clock {
  font-weight: 0;
  font-style: normal;
  font: 600 70px/1 "Poppins", sans-serif;
  padding-bottom: 70px;
  color: #FF3C00;
}

#sh6 {
  font-weight: 0;
  font-style: normal;
  font: 600 40px/1 "Poppins", sans-serif;
  color: #FF3C00;
}



